h1, h2, h3, h4, h5, p, pre, .post-title, ol, ul, iframe {
    margin-right: 10vw;
    margin-left: 10vw;
}

h1, h2, h3, h4, .post-title {
    padding-bottom: 2vh;
}

h1, .post-title {
    padding-top: 1vh;
}

a.nav-link {
    color: rgb(173, 236, 207);
}

h1 {
    color: white;
    font-size: 3.5vh; 
}

h2 {
    color: white;
}

h3, h4 {
    color: lightgray;
}

a.post-title {
    font-size: 2.5rem;
    color: white;
}

a.post-title:hover {
    color: lightslategray;
}

.card {
    width: 60vw;
}

.intro {
    font-size: 1.5vh;
}

.promo {
    font-size: 2.5vh;
}

#project-saturn {
    font-size: 4vh;
}

ol a {
    color: white;
}

ol a:hover {
    color: lightslategray;
}

h3, h4 a {
    color: lightgray;
}

h3, h4 a:hover {
    color: lightslategray;
}

img {
    max-width: 30vw;
}

/* Nathan Lam
   June 2, 2017
   Add this css for responsive embedded videos in your .css file. */

.embed-container {
position: relative;
padding-bottom: 56.25%;
max-width: 40%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}